* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.create__container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.create__container-banner {
    width: 100%;
    overflow: hidden;
    margin-top: -1px;
    position: relative;
}

.create__container-banner-img {
    width: 100%;
}

.create__container-banner-msj {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 40px;
    letter-spacing: 5px;
    font-family: Grotesk-Medium, sans-serif;
}
.create__container-form {
    background-color: #f7f3f2;
    gap: 2.5em;
    display: grid;
    padding: 4.5em 6em;
    flex-direction: column;
    margin: 6rem;
    border: 1px solid #ccc;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.788);
}

.create__container-form>* {
    margin-bottom: 0.3rem;
}

.create__container-form-header {
    font-family: Grotesk-Medium, sans-serif;
    text-align: center;
    letter-spacing: 5px;
    font-weight: normal;
    margin-bottom: 0.9rem;
}


.create__form-input {
    width: 100%;
    background: none;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #3b3b3b;
    display: inline-block;
    box-sizing: border-box;
}

.create__form-input-description {
    width: 100%;
    background: none;
    padding: .9em .6em;

}

.form__label {
    cursor: pointer;
    top: 0;
    transform: translateY(10px);
    font-family: PostGrotesk-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}


.form__label {
    display: inline-block;
    margin: 1rem;
}

.create__container-form-button-submit {
    display: flex;
    justify-content: center;
}

.create__container-form-button-submit>* {
    font-family: PostGrotesk-Medium, sans-serif;
    margin: .2em;
    padding: .9em 3em;
    background-color: #cbded2;
    border: none;
    border-radius: .5em;
    color: #3b3b3b;
    transition: background-color 0.3s ease, color 0.3s ease;
}