hr{
    background: rgba(0,0,0,.1);
    height: 1px;
    margin: 0;
    width: 100%;
    
}
.cart__Container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}
.cart__image{
    height: 70px;
    width: 70px;
}
.cart__configuracion{
    display: flex;
    gap: 20px;
}
.cart__configuracion--span{
    color: #00F;
    font-weight: 400;
    cursor: pointer;
}
.cart__stock{
    display: flex;
    height: 75px;
    flex-direction: column;
    justify-content: space-around;
    
}
.cart__stock p{
    text-align: center;
    font-size: 12px;
    color:rgba(0,0,0,.55)
}
.cart__quanitity{
    border: 1px solid #000;
    height: 35px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cart__quanitity input{
    width: 40px;
}
.cart__align{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.cart__input{
    text-align: center;
    position: relative;
    z-index: 1000;
    color: #000;
}
.cart__controlador{
    font-size: 20px;
    cursor: pointer;
    color: blue;
}
.cart__controladorSpiner{
    color: rgb(209, 209, 209);
}
.lds-ring {
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    display: flex;
    justify-self: center;
    align-items: center;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 8px;
    border: 3px solid #00F;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #00F transparent transparent transparent;
    left: -10px;
    top: -9px;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  