.formulario{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #feddd3;
}
.formulario__containerIn{
    height: 550px;
    width: 400px;
    padding: 10px;
    position: relative;
    background-color:#efb8a9;
    border-radius: 5px;
    box-shadow: -1px 2px 28px 9px rgba(208, 208, 208, 0.75);
    -webkit-box-shadow: -1px 2px 28px 9px rgba(208, 208, 208, 0.75);
    -moz-box-shadow: -1px 2px 28px 9px rgba(208, 208, 208, 0.75);
}
.formulario__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.formulario__tituloIn{
    text-align: center;
    color: white;
}
.formulario__grano{
    height: 50px;
    width: 200px;
}
.formulario__cuentasIn{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formulario__google{
    width: 100%;
    background-color: blue;
    border:none;
    height: 40px;
    font-weight: 600; 
    font-size: 20px;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.formulario__google:hover{
background-color: rgb(0, 0, 106);
}
.formulario__googleLogo{
    height: 40px;
    width: 40px;
}
.formulario__gitHud{
    width: 100%;
    background-color: red;
    border:none;
    height: 40px;
    font-weight: 600; 
    font-size: 20px;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.formulario__gitHud:hover{
    background-color: rgb(133, 8, 8);
}
.formulario_gitHubLogo{
    height: 40px;
    width: 40px;
}
.formulario__contenidoIn{
    padding: 5px;
    padding-top: 20px;

}
.formulario__label{
    text-transform: uppercase;
    font-size: 20px;
    
}
.formulario__input{
    width: 95%;
    display: block;
    background: #FFF;  
    height: 35px;
    
    border-radius: 5px;
    padding-left: 10px;
}
.formulario__error{
    position: absolute;
}
.formulario__loginIn{
    width: 90%;
    background-color: #ff967a;
    border:none;
    height: 40px;
    font-weight: 600; 
    font-size: 20px;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 85px;
    margin-left: 10px;    

}
.formulario__loginIn:hover{
    background-color: #c8725a;
    transition: .6s;
}
.formulario__restablecer{
    color: blue;
    cursor: pointer;
    text-align: center;
    padding-top: 80px;
}

.formulario__loginRegister{
    color: blue;
    cursor: pointer ;
    position: absolute;
    right: 0;
    bottom: 5px;
}