# Vite
node_modules/
dist/

# IDE / Editor
.vscode/
.idea/

# Dependencias
package-lock.json
yarn.lock

# Archivos de entorno
.env*

# Otros
.cache/

# Ignorar el archivo package-lock.json
package-lock.json
