.Card-container{
    width: 300px;
    height: 386px;
    padding: 0px 10px;
    margin: 1em .5em;
    text-align: center;
    background-color: #f7f3f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.card-img-cont{
    overflow: hidden;
    width: 80%;
    height: 265px;
    margin: 40px 0px;
 /*    border:1px solid blue; */
}

.Card-container img{
    object-fit: contain;
    width: 100%;
    height: 250px;
}

.card-data-cont{
    padding: 20px 20px;
}


.Card-container p{
    font-family: PostGrotesk-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 0.7px;
    color: #191919;
    margin-bottom: 10px;
}

.Card-container span{
    font-family: PostGrotesk-Book, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 0.7px;
    color: #191919;
    display: block;

}

.star-icons{
    color: #777777;
}