.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1.3em 1em 1.3em;
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0px;
}

.navbar-container.fill {
  background-color: #4b5254;
}

.navbar-logo img {
  width: 130px;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
}

.navbar-links a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 1em;
  font-size: 1rem;
  line-height: 17.6px;
  vertical-align: baseline;
  letter-spacing: 0.64px;
  word-spacing: 0px;
  transition: color 0.3s ease; 
}

.navbar-links a:hover {
  color: #777777;
  cursor: pointer;
}
