.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1.3em 1em 1.3em;
  z-index: 100;
  position: absolute;
  width: 100%;
  top: 0px;

  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0, 0, 0, 0.404) 0%, rgba(0,0,0,0) 100%);
}

.navbar-container.fill {
  background-color: #4b5254 !important;
}

.navbar-logo img {
  width: 130px;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
}

.navbar-links a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 1em;
  font-size: 1rem;
  line-height: 17.6px;
  vertical-align: baseline;
  letter-spacing: 0.64px;
  word-spacing: 0px;
  transition: color 0.3s ease; 
}

.navbar-links a:hover {
  color: #777777;
  cursor: pointer;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0);
}

/* VISTA DETAIL */

.navbar-cont-white{
  background-color: #f7f3f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1.3em 1em 1.3em;
  z-index: 100;
  position: absolute;
  width: 100%;
  top: 0px;
}

.navbar-white-link a{
  text-decoration: none;
  color: #191919;
  margin: 0 1em;
  font-size: 1rem;
  line-height: 17.6px;
  vertical-align: baseline;
  letter-spacing: 0.64px;
  word-spacing: 0px;
  transition: color 0.3s ease; 
}


.navbar-white-link a:hover {
  color: #777777;
  cursor: pointer;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0);
}