.detail__container {
    display: flex;
    justify-content: center;
    background: url(https://th.bing.com/th/id/R.47e4b8e0891e6c4d57f52dcdd304ecb7?rik=DurECBMcHnp5Cw&pid=ImgRaw&r=0) !important;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
}

.detail__container-card {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #00000066;
    backdrop-filter: (blur(10px));
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.616);

    
}

.detail__container-card-info {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    max-width: 330px;
    box-shadow: 0 0 10px 10px #fff2;
    margin-right: 5px;
    padding: 20px;       
    backdrop-filter: blur(10px);
    background-color: #00000066;
}

.detail__container-card-info > *{
    display: flex;
    margin-bottom: 60px;
    align-content: center;
    color: #fff;

}

.title{
    font-size: 24px;
}

.detail__container-card-info-ul{
    padding: 5px;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}
.detail__container-card-info-ul li{
    margin-bottom: 25px;
}


.detail__container-card-img{
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 0 10px 10px #fff2;
}

@media (min-width: 768px) {
    .detailComponent-container {
        margin-left: 40px;
        margin-right: 40px;
    }
}