.home-container{
   /*  border: 0.1px solid rgba(219, 219, 219, 0); */
    margin-bottom: 5em;
}

.home-banner{
    width: 100%;
    height: 53%;
    height: 53vh;
    background: #1d1e20;
    overflow: hidden;
    margin-top: -1px;
    margin-bottom: 4em;
    position: relative;
}

.home-image-banner{
 width: 100%;
}

.home-banner-msj {
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    color: #ffffff;
    line-height: 40px;
    letter-spacing: 5px;
    font-family: Grotesk-Medium, sans-serif;
}


.home-card-container{
    /* border:2px solid red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.home-card-container a {
    text-decoration: none;
    color: inherit;
}