.home-container{
   /*  border: 0.1px solid rgba(219, 219, 219, 0); */
    margin-bottom: 5em;
    min-height: 100vh;
}

.home-banner{
    width: 100%;
    height: 53%;
    height: 53vh;
    background: #1d1e20;
    overflow: hidden;
    margin-top: -1px;
    margin-bottom: 1em;
    position: relative;
}

.home-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.103);
    z-index: 1;
    overflow: hidden;
}

.home-image-banner{
 width: 100%;
}

.home-banner-msj {
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    color: #ffffff;
    line-height: 40px;
    letter-spacing: 5px;
    font-family: Grotesk-Medium, sans-serif;
    z-index: 2;
}

.home-card-panel-container{
    display: flex;
}

.home-card-container{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}


.home-filters-cont{
    display: inline-block;
    width: fit-content;
}

.home-card-container a {
    text-decoration: none;
    color: inherit;
}

.home-not-found-cont img{
    width: 180px;
}

.home-not-found-cont h2{
    color: #777777;
}

.home-not-found-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}