.home-container{
   /*  border: 0.1px solid rgba(219, 219, 219, 0); */
    margin-bottom: 5em;
    min-height: 100vh;
}

.home-banner{
    width: 100%;
    height: 53%;
    height: 53vh;
    overflow: hidden;
    margin-top: -1px;
    margin-bottom: 1em;
    position: relative;
}

.home-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.096);
    z-index: 1;
    overflow: hidden;
}

.home-banner::before{
    background: rgba(2, 0, 36, 0.616);
    background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(0, 0, 0, 0.445) 89%);
}

.home-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(203, 222, 210, 0.301) 100%);
    z-index: 1;
    overflow: hidden;
}

.home-banner-img{
    margin-top: -10%;
    width: 100%; 
}

.home-banner-img {
    filter: opacity(1); /* Inicialmente, la imagen está completamente transparente */
    transform: scale(1.5); /* Escala inicial */

    animation: aparecer 5s ease-in-out forwards; /* Aplicar la animación al cargar la página */
}

@keyframes aparecer {
    from {
        opacity: 0.80; /* Comienza con opacidad 0 (invisible) */
        transform: scale(1.5); /* Comienza con la escala 1.2 */
    }
    to {
        opacity: 1; /* Termina con opacidad 1 (completamente visible) */
        transform: scale(1); /* Termina con la escala 1 (tamaño original) */
    }
}

.home-banner-msj {
    position: absolute;
    left: 50%;
    top: 86%; 
    transform: translate(-50%, -50%);
    color: #ffffff;
    line-height: 40px;
    letter-spacing: 5px;
    font-family: Grotesk-Medium, sans-serif;
    z-index: 100;
}

.home-card-panel-container{
    display: flex;
}

.home-card-container{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}


.home-filters-cont{
    display: inline-block;
    width: fit-content;
}

.home-card-container a {
    text-decoration: none;
    color: inherit;
}

.home-not-found-cont img{
    width: 180px;
}

.home-not-found-cont h2{
    color: #777777;
}

.home-not-found-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}