.slider-container{
 
    position: relative;
 }


 .slider-img {
    margin-top: -8%;
    filter: opacity(0.20);
    transform: scale();
    transition: filter 5s ease-in-out, transform 5s ease-in-out; /* Agregar ambas propiedades a la transición */
}

.isActive {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    filter: opacity(1);
    transform: scale();
}
