@font-face {
  font-family: 'PostGrotesk-Book';
  src: url('/assets/fuentes/PostGrotesk-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'PostGrotesk-Bold';
  src: url('/assets/fuentes/PostGrotesk-Bold.woff2') format('woff2');
}


@font-face {
  font-family: 'Grotesk-Medium';
  src: url('/assets/fuentes/Trio-Grotesk-Medium.woff2') format('woff2');
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: PostGrotesk-Book, sans-serif;
  position: relative;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
  font-family: Grotesk-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: .125em;
  font-weight:1.3;
}

.text-shadow{
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.596);
}