#reset_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f3f2; 
}

#reset_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffffab;
    width: 30vw;
    height: 60vh;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,.1);
    border-radius: 6px;
    color: #424242;
}

#reset_form p{
    text-align: center;
    padding: 2vh;
}

#reset_inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.reset_password {
    font-weight: lighter;
    color: #424242;
    min-height: 2.4em;
    background-color: #5c8d643d;
    
    padding: .2em;
    padding-left: .5em;
    border-radius: 4px;
    width: 22vw;
    border: 1px solid rgba(128, 128, 128, 0.445);
    display: flex;
    align-items: center;
}

#button_reset {
    width: fit-content;
    padding: .4em .8em;
    background-color: #7fb693;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

#button_reset:hover {
    background-color: #abd3ba;
}

#button_reset:disabled {
    background-color: #7fb693;
    cursor: default;
}